# Server Port
PORT=5000

# Toggle Mock Mode (set to "true" to bypass external API checks and use local storage / mocked Gemini)
USE_MOCK_MODE=false

# Google Gemini API Credentials
GEMINI_API_KEY=your_gemini_api_key_here

# MongoDB Connection String (e.g. MongoDB Atlas or Local MongoDB)
MONGODB_URI=mongodb+srv://lokeshalapati_db_user:<db_password>@cluster0.w6inuv1.mongodb.net/?appName=Cluster0&compressors=zlib


# Pinecone Vector Database Credentials
PINECONE_API_KEY=your_pinecone_api_key_here
PINECONE_INDEX=hiresmart
PINECONE_HOST=your_pinecone_host_url_here (e.g., https://hiresmart-xxxxxx.svc.apw5-sdkc-8klj.pinecone.io)
